.category_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 80px;
}
.card-img-top{
    width: 100%;
    height: 260px;
}
@media only screen and (max-width: 600px){
    .category_container{
        grid-template-columns: repeat(1, 1fr);
    }
}